
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Interview Page</title>
  <link rel="stylesheet" href="interview-style.css" />  
  <link rel="stylesheet" href="/scripts/prism.css">
</head>
<body>
  <div class="container">
    <div class="camera-frame">
      <video autoplay = "true" class = "videoElement" > </video>
    </div>

    
    <!-- Feedback Box -->
    <div class="feedback-box">
      
      <!-- Text Section -->
      <div class="text-section">
        <h3>
          Feedback
          <button class="feedback-button" onclick="fetchFeedback()">Activate Feedback</button>
        </h3>
        <textarea rows="10" placeholder="Results will show after 10 seconds." id="feedback-text"></textarea>
      </div>
    </div>
    
    <!-- Interactive Code Block -->
    <div class="code-block">
      <h3>Code Space</h3>
      <div class="language-selector">
        <button onclick="changeLanguage('java')">Java</button>
        <button onclick="changeLanguage('cpp')">C++</button>
        <button onclick="changeLanguage('python')">Python</button>
      </div>
      <div class="code-container">
        <textarea id="codeBlock"></textarea>
      </div>
    </div>
  </div>

  <script src="script.js"></script>
  <script src="/scripts/prism.js"></script>
  <script>
    async function fetchFeedback() {
      try {
        const response = await fetch('/run-script');
        const data = await response.json();
        document.getElementById('feedback-text').value = data.feedback;
      } catch (error) {
        console.error('Error fetching feedback:', error);
      }
    }
  </script>
</body>
</html>
